<% 
resource.build_location 
%>
<body onload="create()">
	<h3>Sign up</h3>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
	:html => {:multipart => true}) do |f| %>
	<%= devise_error_messages! %>
	<table>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :username %></td>
			<td><%= f.text_field :username %></td>
		</tr>
		<tr>
			<td><%= f.label :firstname %></td>
			<td><%= f.text_field :firstname %></td>
		</tr>
		<tr>
			<td><%= f.label :lastname %></td>
			<td><%= f.text_field :lastname %></td>
		</tr>
		<tr>
			<td><%= f.label :info %></td>
			<td><%= f.text_field :info %></td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td><%= f.label :image, "Profile Picture" %></td>
			<td><%= f.file_field :image , :class =>"btn btn-file"%></td>
			<td> OR Url </td>
			<td><%= f.text_field :remote_image_url %></td>
		</tr>
	</table>
	<%= f.fields_for :location do |location_form| %>
	<%= location_form.hidden_field :lat %>
	<%= location_form.hidden_field :lng %>
	<% end %>
	<div>
		<%= f.submit "Sign up", :class=>"btn btn-primary" %>
	</div>
	<% end %>
	<div class="span7" style="height: 100%; position: absolute; top: 10%; left: 50%" >
		<p class="text-info">
			Location (right click to edit your location)
		</p>
		<div id="map-canvas"; style="height: 60%"></div>
	</div>
	<%= render :partial => "devise/shared/links" %>
</body>
