<table class="table table-hover">
<% @comments.each do |comment|%>
	<tr>
		<td><%= comment.content[0..20] %>
		<%= "....." if comment.content.length > 20%>
		</td>
		<td>
			<%= link_to "Delete", [comment.post, comment], :method => :delete, :confirm => "Are u sure?" %>
		</td>
		<td><%= link_to "Show Post", comment.post %></td>
	</tr>
<% end %>
</table>


<%= will_paginate @comments %><br/>
<%= page_entries_info @comments %><br/>

