<br/>
<% if current_user != @post.user %>
<% if Like.get_like(@post, current_user) %>
<%= form_tag unlike_path(@post), :id => "like_form", :remote => true do %>
<button type="submit" class="btn btn-mini btn-info">
	<i id ="like_icon" class=" icon-thumbs-down"></i>
	<span id="like_txt">Unlike</span>
</button>
<% end %>
<% else %>
<%= form_tag like_path(@post), :id => "like_form", :remote => true do %>
<button type="submit" class="btn btn-mini btn-info">
	<i id="like_icon" class=" icon-thumbs-up"></i>
	<span id="like_txt">Like</span>
</button>
<% end %>
<% end %>
<div id="like_by">
	<span style="font-weight: bolder">Liked by:</span>
	<% @post.likes.map(&:user).each do |user| %>
	<span id = "<%= 'u-'+ user.id.to_s %>"><%= link_to user.username, profile_path(user) %> |</span>
	<% end %>
</div>

<div id="dialog">
	<table class="table table-hover">
		<% @post.likes.map(&:user).each do |user| %>
		<tr>
			<td> 
				<%= link_to image_tag(profile_pic(user)), profile_path(user), :class=>"img-rounded" %> 
				<span style="vertical-align: top; font-weight: bolder" class="text-info"><%=  user.username %></span>
			</td>
		</tr>
		<% end %>
	</table>
</div>
<button id="opener" class="btn btn-mini btn-danger" style="font-weight: bolder">
	Liked by
</button>
<% end %>
<br/>
