<p style="color: #FF0000; font-weight: bolder"><%= @post.title %>
	<span style="color: blue"> @<%= format_date @post %></span>
</p>
<p><%= @post.content %></p>
<% if @post.published_at == nil and @post.user == current_user %>
<div>
	<i class="icon-forward"></i>
	<i class="icon-forward"></i>
	<%= link_to "Publish It", publish_path(@post), :class =>"btn btn-primary" %>
</div>
<% end %>

<%= render :partial => "like_form" %>
<%= link_to "Back", posts_path %><br/>
<br/>

<%= render :partial => "comments/form" %>

<% if @post.user != current_user %>
<h3>Add Comment</h3>
<% form_for([@post, @post.comments.build]) do |f| %>
	<div><%= f.text_area :content, :cols => "150",:rows => "5" %></div>
	<%= f.submit "Comment", :class => "btn btn-primary"%>
<% end %>
<% end %>

