<h4><%= @user.username %>'s Profile</h4>
<table>
	<tr>
		<td>User Name: </td>
		<td><%= @user.username %></td>
	</tr>
	<tr>
		<td>Full Name: </td>
		<td><%= @user.firstname + " "+ @user.lastname%></td>
	</tr>
	<tr>
		<td>Info: </td>
		<td><%= @user.info %></td>
	</tr>
</table>
<br/>
<% if @user == current_user %>
	<%= render :partial => "posts/index_form" %><br/><br/>
	<%= link_to "Edit Profile", edit_profile_path %> | 
	<%= link_to "Delete My Account", delete_profile_path, :confirm => "Are u sure?" %>
<hr />
<h2 align="center">Posts I Like It</h2>
<%= render :partial => "posts/user_index", :locals => {:posts_arr => @like_posts, :paginator => @likes}%>

<hr />
<h2 align="center">Posts I Comment It</h2>
<%= render :partial => "comments/profile_form" %>
<% else %>
	<%= render :partial => "posts/user_index", :locals => {:posts_arr => @posts, :paginator => @posts} %>
<% end %>

