<!DOCTYPE html>
<html>
	<head>
		<title>BloggingSystem</title>
		<%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag "ui-darkness/jquery-ui-1.10.4.custom.css", "chatting.css" %> <!-- Note that use defaults will put the 2 files application.js + jquery_ujs.js(without this file sign_out
		in devise doesn't work)		 -->
		<%= javascript_include_tag :defaults, "bootstrap.min.js", "jquery_ujs.js", "jquery.js", "jquery-1.10.2.js", "jquery-ui-1.10.4.custom.min.js", "map.js" , "chatting.js"%>
		<%= csrf_meta_tag %>
		<style type="text/css" >
			html {
				height: 100%
			}
			body {
				height: 100%;
				margin: 0;
				padding: 0
			}
			.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
				background-color: #EEEEEE;
			}
		</style>
		<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5SDBOHYHgFj6_WgE5JoNrKovROLVB3x8&sensor=true&language=ar"></script>
	</head>
	<body style="margin: 1%" onload="creatChatCanvas();">
		<ul class="nav nav-pills">
			<% if user_signed_in? %>
			<li>
				<%= link_to "Sign out", destroy_user_session_path, :method => "delete", :confirm => "Confirm for Sign Out" %>
			</li>
			<li>
				<%= link_to "Profile", profile_path(current_user) %>
			</li>
			<li>
				<%= link_to "Blog", posts_path %>
			</li>
			<% else %>
			<li>
				<%= link_to "Sign in", new_user_session_path %>
			</li>
			<li>
				<%= link_to "Sign up", new_user_registration_path %>
			</li>
			<% end %>
			<li>
				<%= link_to "Home", root_path %>
			</li>
		</ul>
		<% if notice or alert %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<%= notice %>
			<%= alert %>
		</div>
		<% end %>

		<%= yield %>
		
<!-- 		 For Chatting       -------------->
<!-- <div class="chatting">
	<div class="title">
		Title
		<div class="chat-close ui-icon ui-icon-closethick" title="close"></div>
	</div>
	<div class="chat-space">
		<p><span style="font: bolder; color: red">Me: </span>aloooo</p>
	</div>
	<input type="text" style="float: bottom"></input>	
</div> --><button class="chat" class="btn btn-mini btn-danger" style="font-weight: bolder" onclick="creatChatCanvas();">
	Chat2
</button>

	</body>
	
</html>
